#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>

/ {
    keymap {
        compatible = "zmk,keymap";

	default_layer {
            bindings = <
                &kp A &kp E &kp G
                &mo 1 &kp X &kp Y
	    >;
	};

	num_layer {
            bindings = <
                &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_CLR_ALL
                &kp N4 &kp N5 &kp N6
	    >;
	};
    };
};
